:root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}
body {
  height: 100vh;
  margin: 0;
}

a {
  color: #fff;
  font-weight: 500;
  text-decoration: underline;
}

a:hover {
  color: rgb(176, 226, 255);
  text-decoration: none;
}

details {
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  color: #242424;
  margin: 15px 0 0 ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  cursor: pointer;
  font-family: inherit;
  font-size: 1em;
  transition: border-color 0.25s;
}

@media (prefers-color-scheme: light) {
  :root {
    background-color: #ffffff;
    color: #213547;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
